#  SWB211 Project 

## Joint Density Calculation

### Imports

In [1]:
import pandas as pd 
import os

#os.chdir(r"G:\My Drive\0.SWB\SWB211")  # Provide the new path here          # I don't think this is necessary, delete?
#print(os.getcwd()) # Prints the current working directory                   # I don't think this is necessary, delete?

/home/stefanie/Python/swb_code/SWB211project

### Path Management
using [`os.path.join`](https://docs.python.org/3/library/os.path.html), to fit the paths for Linux/MacOS and Windows syntax, which is more robust:
* Linux/MacOS syntax (e.g. `../folder_name`) 
* and Windows syntax (e.g. `..\\folder_name`)

In [4]:
csv_path_population_block = os.path.join('.', 'data', 'census_data', 'nhgis0202_csv', 'nhgis0202_ds248_2020_block.csv')
csv_path_education_income = os.path.join('.', 'data', 'census_data', 'nhgis0197_csv', 'nhgis0197_ds254_20215_blck_grp.csv')
csv_path_age = os.path.join('.', 'data', 'census_data', 'nhgis0203_csv', 'nhgis0203_ds254_20215_blck_grp.csv')

dta_path_6_counties = os.path.join('.', 'data', 'intermediate_data', 'b_KC_6counties.dta')
dta_path_county_crosswalk = os.path.join('.', 'data', 'intermediate_data', 'b_bg_county_crosswalk.dta')

### prepare block-level data

In [6]:
block_raw = pd.read_csv(csv_path_population_block, low_memory=False)
block_raw.columns = block_raw.columns.str.lower()

block_data=block_raw[['gisjoin', 'state','county','u7b001']]
block_data = block_data.rename(columns={'gisjoin': 'b_gisjoin'})                
block_data = block_data.rename(columns={'u7b001': 'b_population'}) # b_target_pop: Block level count of total population.

block_data

                 b_gisjoin     state          county  b_population
0       G20000109526001000    Kansas    Allen County             3
1       G20000109526001001    Kansas    Allen County             8
2       G20000109526001002    Kansas    Allen County             7
3       G20000109526001003    Kansas    Allen County             0
4       G20000109526001004    Kansas    Allen County             0
...                    ...       ...             ...           ...
426156  G29051001278002030  Missouri  St. Louis city             0
426157  G29051001278002031  Missouri  St. Louis city             3
426158  G29051001278002032  Missouri  St. Louis city             0
426159  G29051001278002033  Missouri  St. Louis city             0
426160  G29051001278002034  Missouri  St. Louis city             0

[426161 rows x 4 columns]

### prepare block-group-level data (education, Income data)

In [7]:
blockgroup_raw = pd.read_csv(csv_path_education_income)
blockgroup_raw.columns = blockgroup_raw.columns.str.lower()
col_list=blockgroup_raw[['aop8e002', 'aop8e003', 'aop8e004', 'aop8e005', 'aop8e006', 'aop8e007', 'aop8e008' ,'aop8e009', 'aop8e010', 'aop8e011', 'aop8e012', 'aop8e013', 'aop8e014', 'aop8e015', 'aop8e016', 'aop8e017', 'aop8e018', 'aop8e019', 'aop8e020', 'aop8e021']]
blockgroup_raw['bg_educ_lt_bachelars']=col_list.sum(axis=1) # summing population count below bachelor's degree
col_list=blockgroup_raw[['aoqhe002', 'aoqhe003', 'aoqhe004', 'aoqhe005', 'aoqhe006', 'aoqhe007', 'aoqhe008', 'aoqhe009']]
blockgroup_raw['bg_inc_lt_45000']=col_list.sum(axis=1) # summing housdhold inclome below 45 k

blockgroup_raw['s_bg_educ_lt_bachelars']=blockgroup_raw['bg_educ_lt_bachelars']/blockgroup_raw['aop8e001'] # percentage of non-BA's over whole population
blockgroup_raw['s_bg_inc_lt_45000']=blockgroup_raw['bg_inc_lt_45000']/blockgroup_raw['aoqhe001'] # percentage of low earning households over all housholds
blockgroup_raw = blockgroup_raw.rename(columns={'gisjoin': 'bg_gisjoin'})                
bg_educ_inc=blockgroup_raw[['bg_gisjoin', 'bg_educ_lt_bachelars','bg_inc_lt_45000','s_bg_educ_lt_bachelars','s_bg_inc_lt_45000']]

bg_educ_inc

,bg_gisjoin,bg_educ_lt_bachelars,bg_inc_lt_45000,s_bg_educ_lt_bachelars,s_bg_inc_lt_45000
0,G20000109526001,1146,195,0.861007,0.281792
1,G20000109527001,548,210,0.734584,0.466667
2,G20000109527002,527,110,0.780741,0.303867
3,G20000109528001,521,240,0.785822,0.551724
4,G20000109528002,650,252,0.672878,0.464945
...,...,...,...,...,...
7487,G29051001277001,661,211,0.937589,0.703333
7488,G29051001277002,654,289,1.000000,0.865269
7489,G29051001277003,176,79,0.752137,0.576642
7490,G29051001278001,959,982,0.762928,0.891916
7491,G29051001278002,290,363,0.629067,0.782328

### prepare block-group-level data (age data)

In [8]:
blockgroup_raw = pd.read_csv(csv_path_age)
blockgroup_raw.columns = blockgroup_raw.columns.str.lower()
blockgroup_raw.describe()
print(blockgroup_raw.info())
blockgroup_raw.dtypes 
col_list=blockgroup_raw[['aonte007', 'aonte008', 'aonte009', 'aonte010', 'aonte011', 'aonte012', 'aonte013', 'aonte014', 'aonte015', 'aonte016' ,'aonte017', 'aonte018', 'aonte019' ,'aonte020', 'aonte021', 'aonte022', 'aonte023' ,'aonte024' ,'aonte025' ,'aonte031' ,'aonte032', 'aonte033', 'aonte034' ,'aonte035', 'aonte036', 'aonte037', 'aonte038', 'aonte039', 'aonte040', 'aonte041', 'aonte042', 'aonte043', 'aonte044', 'aonte045', 'aonte046', 'aonte047', 'aonte048', 'aonte049']]
blockgroup_raw['bg_age_gt18']=col_list.sum(axis=1) # summing population count 18 years and older
blockgroup_raw['s_bg_age_gt18']=blockgroup_raw['bg_age_gt18']/blockgroup_raw['aonte001'] # percentage of population 18 years and older over whole population
blockgroup_raw = blockgroup_raw.rename(columns={'gisjoin': 'bg_gisjoin'})
bg_age=blockgroup_raw[['bg_gisjoin', 'bg_age_gt18','s_bg_age_gt18']]

bg_age

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7492 entries, 0 to 7491
Columns: 1001 entries, gisjoin to aoslm036
dtypes: float64(76), int64(917), object(8)
memory usage: 57.2+ MB
None

           bg_gisjoin  bg_age_gt18  s_bg_age_gt18
0     G20000109526001         1415       0.769859
1     G20000109527001          845       0.795669
2     G20000109527002          726       0.823129
3     G20000109528001          841       0.819688
4     G20000109528002         1221       0.822222
...               ...          ...            ...
7487  G29051001277001          747       0.772492
7488  G29051001277002          784       1.000000
7489  G29051001277003          318       0.736111
7490  G29051001278001         1598       0.820329
7491  G29051001278002         1532       1.000000

[7492 rows x 3 columns]

### prepare cross-walk data

In [155]:
##b_KC_6counties
b_KC_6counties = pd.read_stata(r"intermediate_data\b_KC_6counties.dta") #// merge to restrict area to 6 counties in KC
b_KC_6counties.columns = b_KC_6counties.columns.str.lower()
##JOIN
b_bg_county_crosswalk = pd.read_stata(r"intermediate_data\b_bg_county_crosswalk.dta") # block block-group county crosswalk file   
b_bg_county_crosswalk.columns = b_bg_county_crosswalk.columns.str.lower()

### Merge block and block-group data to calculate joint density of target pop

In [156]:
#merge B and BG level data, calculate target_density 
merge1=pd.merge(block_data, b_KC_6counties,on=['b_gisjoin' ])  # merge to restrict area to 6 counties in KC (426161 to 37701)
merge2=pd.merge(merge1, b_bg_county_crosswalk,on=['b_gisjoin' ])  # block block-group county crosswalk file
merge3=pd.merge(merge2, bg_age,on=['bg_gisjoin' ])  # add bg-level age
merge4=pd.merge(merge3, bg_educ_inc,on=['bg_gisjoin' ])  # add bg-level bg_educ_inc


merge4['s_joint_age_educ_inc']=merge4['s_bg_age_gt18']*merge4['s_bg_educ_lt_bachelars']*merge4['s_bg_inc_lt_45000'] # joint probability age*educ*income of target population.
merge4['b_target_pop']=merge4['b_population']*merge4['s_joint_age_educ_inc']  # block-level count of target population.
merge4['total_target_pop']=merge4['b_population'].sum()  # block-level count of target population.
merge4 = merge4.fillna(0)

merge4['target_density']=merge4['b_target_pop']//merge4['total_target_pop']
merge4['target_pop_per_sq_mile']=merge4['b_target_pop']// merge4['shape_area_x'] //2589973.632302

In [157]:
merge4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 37701 entries, 0 to 37700
Columns: 111 entries, b_gisjoin to target_pop_per_sq_mile
dtypes: float32(12), float64(7), int16(7), int32(16), int64(5), int8(3), object(61)
memory usage: 25.9+ MB

### save final output file

In [158]:
final_block_data=merge4[[  'fid', 'county' ,'bg_gisjoin' ,'b_gisjoin' ,'b_population', 'bg_age_gt18', 'bg_educ_lt_bachelars', 'bg_inc_lt_45000','s_bg_age_gt18', 's_bg_educ_lt_bachelars', 's_bg_inc_lt_45000', 's_joint_age_educ_inc' ,'b_target_pop', 'target_pop_per_sq_mile', 'target_density']]
final_block_data.to_excel("intermediate_data/block_level_target_population_outofpython.xlsx",index=False)   ##export the final final_block_data file.